<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="ajaxNet">
      <!--
        If you are using Microsoft .NET 1.1 please remove the two attributes
        requirePermission and restartOnExternalChanges, they are only supported
        with .NET 2.0.
      -->
      <section name="ajaxSettings" type="AjaxPro.AjaxSettingsSectionHandler,AjaxPro"/>
      <!-- 
        requirePermission="false"
        restartOnExternalChanges="true"
      -->
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- ACCESO A BASE DE DATOS DE LA APLICACIÓN -->
    <!-- Nombre del servidor de bases de datos MySQL donde se encuentran los datos de la aplicación. -->
    <!-- En HOME -->
    <add key="DBServer" value="192.168.100.1"/>
    <!-- En ISPCFG -->
    <!--add key="DBServer" value="cursolina.cfg.rimed.cu" /-->
    <!-- Nombre de la base de datos MySQL donde se encuentras los datos de la aplicación. -->
    <add key="DBName" value="msce"/>
    <!-- Nombre de usuario que se utiliza para el acceso a la base de datos de la aplicación. -->
    <add key="DBUserName" value="msce_usr"/>
    <!-- Contraseña del usuario que se utiliza para el acceso a la base de datos de la aplicación. -->
    <add key="DBUserPassword" value="ISPCFG.Msce.Pass"/>
    <!-- FIN DE ACCESO A BASE DE DATOS -->
    <!-- SERVIDORES DE CORREO -->
    <!-- Lista de servidores POP3 y su respectivo puerto, separados por barra vertical "|" que se utilizan para enviar correos de notificación. -->
    <!-- En HOME -->
    <!--add key="SMTPServer" value="192.168.100.4:25" /-->
    <!-- En ISPCFG -->
    <add key="SMTPServer" value="conrado.cfg.rimed.cu.:25"/>
    <!-- 
        FLAG PARA SABER SI SE UTILIZA LA AUTHENTICATION SMTP.
        Este valor debe ser "true" ó "false", para indicar que se utilicen los parámetros 
        "SMTPUser" y "SMTPPassword" cuando es "true" y que no se utilicen cuando es "false".
    -->
    <add key="SMTPAuth" value="false"/>
    <!-- Usuario SMTP -->
    <add key="SMTPUser" value="maestria_en_linea@cfg.rimed.cu"/>
    <!-- Contraseña del usuario SMTP -->
    <add key="SMTPPassword" value="pass"/>
    <!-- FIN DE SERVIDORES DE CORREO -->
    <!-- 
      VARIABLES PARA EL TAMAÑO MÁXIMO PERMITIDO PARA ALMACENAMIENTO Y 
      UPLOADS, EXPRESADO EN KB (Kilobytes).
    -->
    <!--  Tamaño máximo que puede ocupar la información en el maletín de cada maestrante 
          (Predeterminado 10 MB = 10240 KB)
    -->
    <add key="BriefcaseMaxSize" value="10240"/>
    <!--  Tamaño máximo que puede ocupar la información en bibliografía complementaria 
          que le pertenece a cada docente. (Predeterminado 20 MB = 20480 KB)
    -->
    <add key="BibliographyMaxSize" value="20480"/>
    <!-- 
      FIN DE VARIABLES PARA EL TAMAÑO MÁXIMO PERMITIDO PARA ALMACENAMIENTO Y 
      UPLOADS, EXPRESADO EN KB (Kilobytes).
    -->
    <!--
      VARIABLES PARA DETERMINAR LA COMPLEJIDAD CON QUE SE MUESTRAN LOS WEBFORMS 
      PARA EL REGISTRO DE LA BIBLIOGRAFÍA
    -->
    <!-- 
      SI "webFromBibliografiaCDSimple" ESTÁ ESTABLECIDO A "true" NO SE MOSTRARÁN LAS OPCIONES PARA
      SELECCIONAR EL TIPO DE BIBLIOGRAFÍA (básica o complementaria), NI LA SELECCIÓN DE TEMAS 
      A LOS QUE PERTENECE LA MISMA, NI LAS CREDENCIALES PARA ACCEDER AL RECURSO QUE SE EXPONGA.
      EN SU LUGAR SE TOMARÁ QUE LA BIBLIOGRAFÍA ES BÁSICA, QUE PERTENECE A TODOS LOS TEMAS Y QUE
      NO SE REQUIEREN CREDENCIALES PARA ACCEDER A LA MISMA.
    -->
    <add key="webFromBibliografiaCDSimple" value="true"/>
  </appSettings>
  <ajaxNet>
    <ajaxSettings>
      <urlNamespaceMappings useAssemblyQualifiedName="false">
        <!--
          Set the attribute useAssemblyQualifiedName to true to enable
          use of assemblies placed in the GAC by using the full assembly
          qualified name.
        
          To hide internal knowledge of assemblies, classes and namespace
          you can override the name of the virtual http endpoints.
          
          <add type="Namespace.Class1,Assembly" path="mypath" />
        -->
      </urlNamespaceMappings>
      <jsonConverters>
        <!--
          This section can be used to add new IJavaScriptConverters to the
          Ajax.NET Professional engine. If you want to disable built-in
          converters you can use the remove tag.
        
          <remove type="Namespace.Class1,Assembly"/>
          <add type="Namespace.Class2,Assembly"/>
        -->
      </jsonConverters>
      <!--
        Set the enabled attribute to true to get Stack, TargetSize and Source 
        information if an exception has been thrown.
      -->
      <debug enabled="false"/>
      <!--
        This is the default configuration used with Ajax.NET Professional. You
        can put there your static JavaScript files, or remove the path attribute
        to completly disable the files.
      
        <scriptReplacements>
          <file name="core" path="~/ajaxpro/core.ashx" />
          <file name="prototype" path="~/ajaxpro/prototype.ashx" />
          <file name="converter" path="~/ajaxpro/converter.ashx" />
        </scriptReplacements>
      -->
      <!-- <encryption cryptType="" keyType="" /> -->
      <!--
        Set the enabled attribute to true to enable the use of an Ajax.NET Professional
        token. This will send a token to the client that will be used to identify if the
        requests comes from the same PC.
      -->
      <token enabled="false" sitePassword="password"/>
      <!--
        The oldStyle section can be used to enable old styled JavaScript code or
        functions that are not used any more.
      
        <oldStyle>
          <objectExtendPrototype/>
        </oldStyle>
      -->
    </ajaxSettings>
  </ajaxNet>
  <system.web>
    <!-- 
        Modificar los parámetros a continuación para permitir hacer uploads grandes.
        executionTimeout= 1.5 minutos (90 segundos) de espera para que se procese la solicitud.
        maxRequestLength= ~ 10 MB (10240 KB) de tamaño de la información enviada al servidor. 
    -->
    <!--httpRuntime 
      executionTimeout="90" 
      maxRequestLength="10240" 
    /-->
    <!--  DEPURACIÓN DINÁMICA DE COMPILACIÓN
          Establezca la depuración de compilación como "true" para habilitar la depuración ASPX. Si no, establezca este valor en "false"
          para mejorar el rendimiento en tiempo de ejecución de la aplicación. 
          Establezca la depuración de compilación como "true" para insertar símbolos de depuración (información .pdb)
          en la página compilada. Dado que este proceso crea un archivo grande que se ejecuta
          más despacio, debe establecer este valor en "true" durante la depuración y en
          "false" el resto del tiempo. Para obtener más información, vea la documentación acerca de
          la depuración de archivos ASP.NET.
    -->
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.0"/>
    <!--  MENSAJES DE ERROR PERSONALIZADOS
          Establezca el modo customErrors como "On" o "RemoteOnly" para habilitar los mensajes de error personalizados y como "Off" para deshabilitarlos. 
          Agregue etiquetas <error> para cada error que desee controlar.

          "On" Mostrar siempre mensajes personalizados (descriptivos).  
          "Off" Mostrar siempre información de error detallada de ASP.NET.
          "RemoteOnly" Mostrar mensajes personalizados (descriptivos) sólo a usuarios que no se estén ejecutando 
          en el servidor Web local. Se recomienda esta configuración por motivos de seguridad, para que 
          no se muestre información detallada de la aplicación a clientes remotos.
    -->
    <customErrors mode="RemoteOnly"/>
    <!--  AUTENTICACIÓN 
          Esta sección establece las directivas de autenticación de la aplicación. Los modos existentes son "Windows", 
          "Forms", "Passport" y "None"

          "None" No se realiza ninguna autenticación. 
          "Windows" IIS realiza la autenticación (básica, implícita o Windows integrada) de acuerdo con 
          la configuración de la aplicación. Se debe deshabilitar el acceso anónimo en IIS. 
          "Forms" El usuario proporciona un formulario personalizado (página Web) para introducir las credenciales y, a continuación, 
          autenticarlas en la aplicación. Un símbolo (token) de credencial de usuario se almacena en una cookie.
          "Passport" La autenticación se realiza mediante un servicio de autenticación centralizado proporcionado
          por Microsoft que ofrece un inicio de sesión único y servicios de perfil principal para sitios miembro.
    -->
    <authentication mode="Forms">
      <forms name=".MSCEAUTH" loginUrl="index.aspx" protection="None" timeout="60" path="/" requireSSL="false" slidingExpiration="true"/>
    </authentication>
    <!-- Esta cofiguración tiene que ser igual en todas las aplicaciones que se integren a la SSO (Single Sign-On)-->
    <!--machineKey validationKey="GSKLPWEYIRTOCXAIC50BCABEMLSDFOPRETCFGKJHBNWQZXAT" decryptionKey="8A9BE8FD67AF6979E7D20198CFEA50DD3D3799C77AF2B72F" validation="SHA1"/-->
    <machineKey validationKey="AutoGenerate" decryptionKey="AutoGenerate" validation="SHA1"/>
    <!--  AUTORIZACIÓN 
          Esta sección establece las directivas de autorización de la aplicación. Puede permitir o denegar el acceso 
          a los recursos de la aplicación por usuario o función. Comodines: "*" incluye a todo el mundo, "?" incluye a usuarios anónimos 
          (sin autenticar).
    -->
    <authorization>
      <!--deny users="?"/-->
      <!-- Denegar a los anónimos -->
      <allow users="*"/>
      <!-- Permitir a todos los usuarios -->
      <!--  <allow     users="[lista de usuarios separados por comas]"
                             roles="[lista de funciones separadas por comas]"/>
                  <deny      users="[lista de usuarios separados por comas]"
                             roles="[ lista de funciones separadas por comas]"/>
            -->
    </authorization>
    <!--  REGISTRO DE SEGUIMIENTO EN EL NIVEL DE APLICACIÓN
          El seguimiento en el nivel de aplicación habilita los resultados del registro de seguimiento para 
          todas las páginas de una aplicación. Establezca el seguimiento como "true" para habilitar el
          registro de seguimiento de la aplicación. Si pageOutput="true", la información de seguimiento
          se mostrará en la parte inferior de cada página. Si no, puede ver el registro de seguimiento de
          aplicación en la página "trace.axd" desde la raíz de la aplicación Web. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <!--  CONFIGURACIÓN DE ESTADO DE SESIÓN 
          De forma predeterminada ASP.NET utiliza cookies para identificar qué solicitudes pertenecen a una sesión determinada. 
          Si las cookies no están disponibles, puede realizar el seguimiento de una sesión agregando un identificador de sesión a la dirección URL. 
          Para deshabilitar las cookies, establezca sessionState cookieless="true".
    -->
    <sessionState mode="InProc" cookieless="false" timeout="60"/>
    <!-- 
      stateConnectionString="tcpip=127.0.0.1:42424" 
      sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" 
    -->
    <!--  GLOBALIZACIÓN
          Esta sección establece la configuración de globalización de la aplicación. 
    -->
    <globalization fileEncoding="iso-8859-1" requestEncoding="iso-8859-1" responseEncoding="iso-8859-1" culture="es-MX" uiCulture="es-MX"/>

    <httpHandlers>
      <add verb="POST,GET" path="ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory, AjaxPro"/>
    </httpHandlers>

    <xhtmlConformance mode="Legacy"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!--
      PROTEGER LAS PÁGINAS SEGÚN LOS ROLES DEL USUARIO.
  -->
  <!-- Proteger la página de datos generales de la maestría -->
  <location path="maestria.aspx">
    <system.web>
      <authorization>
        <!-- El orden y las mayúsculas se toman en cuenta a continuación -->
        <allow roles="Director"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- Proteger la página de edición de los módulos -->
  <location path="modulo.aspx">
    <system.web>
      <authorization>
        <!-- El orden y las mayúsculas se toman en cuenta a continuación -->
        <allow roles="Director"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- Proteger la página de edición de los cursos -->
  <location path="curso_tema.aspx">
    <system.web>
      <authorization>
        <!-- El orden y las mayúsculas se toman en cuenta a continuación -->
        <allow roles="Director"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- Proteger la página de edición de las menciones -->
  <location path="mencion.aspx">
    <system.web>
      <authorization>
        <!-- El orden y las mayúsculas se toman en cuenta a continuación -->
        <allow roles="Académico"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- Proteger la página de edición de las sedes -->
  <location path="sede.aspx">
    <system.web>
      <authorization>
        <!-- El orden y las mayúsculas se toman en cuenta a continuación -->
        <allow roles="Académico"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- Proteger la página de edición de los grupos -->
  <location path="grupo.aspx">
    <system.web>
      <authorization>
        <!-- El orden y las mayúsculas se toman en cuenta a continuación -->
        <allow roles="Académico"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- Proteger la página de edición de los temas para proyectos de investigación -->
  <location path="tema_proyecto.aspx">
    <system.web>
      <authorization>
        <!-- El orden y las mayúsculas se toman en cuenta a continuación -->
        <allow roles="Académico"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- Proteger la página de edición de los docentes -->
  <location path="academico.aspx">
    <system.web>
      <authorization>
        <!-- El orden y las mayúsculas se toman en cuenta a continuación -->
        <allow roles="Director"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- Proteger la página de edición de los docentes -->
  <location path="docente.aspx">
    <system.web>
      <authorization>
        <!-- El orden y las mayúsculas se toman en cuenta a continuación -->
        <allow roles="Académico"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- Proteger la página de edición de los maestrantes -->
  <location path="maestrante.aspx">
    <system.web>
      <authorization>
        <!-- El orden y las mayúsculas se toman en cuenta a continuación -->
        <allow roles="Académico"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- Proteger la página de edición de las revisiones de solicitudes de temas de rpoyecto -->
  <location path="revisar_tema_proyecto.aspx">
    <system.web>
      <authorization>
        <!-- El orden y las mayúsculas se toman en cuenta a continuación -->
        <allow roles="Académico"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- Proteger la página para solicitar tema de proyecto -->
  <location path="solicitar_tema_proyecto.aspx">
    <system.web>
      <authorization>
        <!-- El orden y las mayúsculas se toman en cuenta a continuación -->
        <allow roles="Maestrante"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- Proteger la página para registro de solicitud -->
  <location path="register.aspx">
    <system.web>
      <authorization>
        <!-- El orden y las mayúsculas se toman en cuenta a continuación -->
        <allow users="?"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- Proteger la página de autorización de registro de solicitud -->
  <location path="revisar_solicitud_registro.aspx">
    <system.web>
      <authorization>
        <!-- El orden y las mayúsculas se toman en cuenta a continuación -->
        <allow roles="Académico"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- Proteger la página para registrar consultas -->
  <location path="consultar.aspx">
    <system.web>
      <authorization>
        <!-- El orden y las mayúsculas se toman en cuenta a continuación -->
        <allow roles="Maestrante"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- Proteger la página para responder consultas registradas -->
  <location path="responder_consultas.aspx">
    <system.web>
      <authorization>
        <!-- El orden y las mayúsculas se toman en cuenta a continuación -->
        <allow roles="Docente"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- Proteger la página para responder consultas registradas -->
  <location path="buscador_consultas.aspx">
    <system.web>
      <authorization>
        <!-- El orden y las mayúsculas se toman en cuenta a continuación -->
        <allow roles="Docente,Maestrante"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- Proteger la página para planificar encuentros presenciales -->
  <location path="planificar_encuentros.aspx">
    <system.web>
      <authorization>
        <!-- El orden y las mayúsculas se toman en cuenta a continuación -->
        <allow roles="Docente"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- Proteger la página para ver los encuentros presenciales planificados -->
  <location path="ver_encuentros.aspx">
    <system.web>
      <authorization>
        <!-- El orden y las mayúsculas se toman en cuenta a continuación -->
        <allow roles="Maestrante"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- Proteger la página para ver los encuentros presenciales planificados -->
  <location path="mi_maletin.aspx">
    <system.web>
      <!-- Tamaño máximo de los uploads que se permite hacer a través de la página "mi_maletin.aspx" -->
      <httpRuntime maxRequestLength="10250"/>
      <authorization>
        <!-- El orden y las mayúsculas se toman en cuenta a continuación -->
        <allow roles="Maestrante"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- Proteger la carpeta raiz de los maletines de los Maestrantes -->
  <location path="briefcases">
    <system.web>
      <authorization>
        <!-- El orden y las mayúsculas se toman en cuenta a continuación -->
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- Proteger la página para búsqueda de usuarios -->
  <location path="buscardor_usuarios.aspx">
    <system.web>
      <authorization>
        <!-- El orden y las mayúsculas se toman en cuenta a continuación -->
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- Proteger la página para la edición de la bibliografía -->
  <location path="editar_bibliografia.aspx">
    <system.web>
      <authorization>
        <!-- El orden y las mayúsculas se toman en cuenta a continuación -->
        <allow roles="Académico,Docente"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- Proteger la página para la búsqueda de bibliografías -->
  <location path="buscador_bibliografias.aspx">
    <system.web>
      <authorization>
        <!-- El orden y las mayúsculas se toman en cuenta a continuación -->
        <allow users="*"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
</configuration>